footer {
    padding: 50px 150px;
    height: 40vh;
    
}

footer .footer-section {
    display: grid;
    grid-template-columns: 350px repeat(4,1fr);
    grid-auto-rows: auto;
}

footer .footer-logo{
    position: relative;
}

footer .footer-logo h2 {
    position: absolute;
    right: 0;
    top: 60px;
    -webkit-transform: rotate(-90deg);
}


.clone {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: #006241;
    color: white;
    font-size: 12px;
    
}
