@import url(/styles/hero.css);
@import url(/styles/sections.css);
@import url(/styles/footer.css);

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: auto;
}

main header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    position: fixed;
    z-index: 10000;
    background-color: white;
}

main header .left-nav  {
    display: flex;
    align-items: center;
}

main  header .left-nav nav ul {
    display: flex;
    list-style: none;
}

main  header .left-nav nav ul li a  {
    margin: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 40px 0px;
}
main header .left-nav img {
    width: 50px;
    margin: 0px 20px 0px 50px;
}



main header .right-nav nav ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
}

main header .right-nav nav ul li a{
    margin: 0px 12px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

main header .right-nav nav ul li a.btn-sign{
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 50px;
    margin-left: 10px;
}

main header .right-nav nav ul li a.btn-join{
    padding: 10px 15px;
    border-radius: 50px;
    background-color: black;
    color: white;
}
