.section-pages {
    height: auto;
    display: grid;
    grid-template-columns: 150px 1fr 1fr  150px;
    grid-auto-rows: auto;
    column-gap: 2vh;
    row-gap: 1vh;
    margin-bottom: 20px;
}


.section-pages .boxes:nth-child(1) {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
    height: 30vh;
    background: #D4E9E2;
    padding: 50px 0px;
}
.section-pages .boxes:nth-child(1) .first-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-pages .boxes:nth-child(1) .first-boxes .first-boxes-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
}
.section-pages .boxes:nth-child(1) a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    padding: 7px 16px;
    border-radius: 50px;
}
.section-pages .boxes:nth-child(1) .first-boxes .first-boxes-description {
    width: 70%;
}



.section-pages .boxes:nth-child(2) {
    grid-column: 3/4;
    width: 100%;
    height: 30vh;
    background: url(https://starbuckscard.ph/sbcard-admin/storage/app/public/banners/qEAUgddd7TGXK7YYgXTeViDYTTIRJxrtAsZNNINi.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section-pages .boxes:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
    height: 30vh;
    background: url(https://starbucks.ph/seed_data/Starbucks_eGift_-_Homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.section-pages .boxes:nth-child(4) {
    grid-row: 2/3;
    grid-column: 3/4;
    height: 30vh;
    width: 100%;
    background: #006241;
    padding: 70px 0px;
    color: white;
}
.section-pages .boxes:nth-child(4) .fourth-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-pages .boxes:nth-child(4) .fourth-boxes .fourth-boxes-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
}
.section-pages .boxes:nth-child(4) a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    padding: 7px 16px;
    border-radius: 50px;
}
.section-pages .boxes:nth-child(4) .fourth-boxes .fourth-boxes-description {
    width: 100%;
}


.section-pages .boxes:nth-child(5) {
    grid-row: 3/4;
    grid-column: 2/3;
    height: 50vh;
    width: 100%;
    margin-right: 15px;
    background: url(https://starbuckscard.ph/sbcard-admin/storage/app/public/banners/stlNWGSssaj5MEOiroRGqcjpZBgeVBSiDxlXhgbg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white
}

.section-pages .boxes:nth-child(5) .fifth-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 70px;
    width: 100%;
    background-color: #000000DE;
}
.section-pages .boxes:nth-child(5) .fifth-boxes .fifth-boxes-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
}
.section-pages .boxes:nth-child(5) a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    padding: 7px 16px;
    border-radius: 50px;
}
.section-pages .boxes:nth-child(5) .fifth-boxes .fifth-boxes-description {
    width: 100%;
}


.section-pages .boxes:nth-child(6) {
    grid-row: 3/4;
    grid-column: 3/4;
    height: 50vh;
    width: 100%;
    background: url(https://starbuckscard.ph/sbcard-admin/storage/app/public/banners/E8ABzzRfYztwL6yKdhYVsPNzmG2dOuR5nRS7HMmJ.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.section-pages .boxes:nth-child(6) .sixth-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 70px;
    width: 100%;
    background-color: #000000DE;
}
.section-pages .boxes:nth-child(6) .sixth-boxes .sixth-boxes-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
}
.section-pages .boxes:nth-child(6) a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    padding: 7px 16px;
    border-radius: 50px;
}
.section-pages .boxes:nth-child(6) .sixth-boxes .sixth-boxes-description {
    width: 100%;
}






.section-pages .boxes:nth-child(7) {
    grid-row: 4/5;
    grid-column: 2/3;
    height: 50vh;
    width: 100%;
    background: url(https://starbuckscard.ph/sbcard-admin/storage/app/public/banners/UGEqxk17fhperqhwIZqyQUKUMQmXu1DanFr1F7u4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 
}
.section-pages .boxes:nth-child(7) .seventh-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 70px;
    width: 100%;
    background-color: #D4E9E2;
}
.section-pages .boxes:nth-child(7) .seventh-boxes .seventh-boxes-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
}
.section-pages .boxes:nth-child(7) a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    padding: 7px 16px;
    border-radius: 50px;
}
.section-pages .boxes:nth-child(7) .seventh-boxes .seventh-boxes-description {
    width: 100%;
}



.section-pages .boxes:nth-child(8) {
    grid-row: 4/5;
    grid-column: 3/4;
    height: 50vh;
    width: 100%;
    background: url(https://starbucks.ph/seed_data/Starbucks_Delivers_-_Homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.section-pages .boxes:nth-child(8) .eight-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 70px;
    width: 100%;
    background-color: #D4E9E2;
}
.section-pages .boxes:nth-child(8) .eight-boxes .eight-boxes-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
}
.section-pages .boxes:nth-child(8) a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    padding: 7px 16px;
    border-radius: 50px;
}
.section-pages .boxes:nth-child(8) .eight-boxes .eight-boxes-description {
    width: 100%;
}


.section-pages .boxes:nth-child(9) {
    grid-row: 5/6;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    background-color: #FAF6EE;
    padding: 80px 0px;
}
.section-pages .boxes:nth-child(9) .ninth-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-pages .boxes:nth-child(9) .ninth-boxes .ninth-boxes-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
}
.section-pages .boxes:nth-child(9) a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    padding: 7px 16px;
    border-radius: 50px;
}
.section-pages .boxes:nth-child(9) .ninth-boxes .ninth-boxes-description {
    width: 70%;
}

.section-pages .boxes:nth-child(10) {
    grid-row: 5/6;
    grid-column: 3/4;
    height: 100%;
    width: 100%;
    background: url(https://starbuckscard.ph/sbcard-admin/storage/app/public/banners/w0mLfB3L89fKjvCzmuJ6VmiQerQeAAswTImeVk3z.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


@media (max-width: 850px) {
    .section-pages {
        padding: 0px 20px;
        grid-template-columns:1fr ; 
        grid-template-rows: repeat(7, 1fr);
        place-items: center;
    }

    .section-pages .boxes:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/2;
        margin: 462px 0px 0px 0px;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .section-pages .boxes:nth-child(2) {
        grid-row: 1/2;
        grid-column: 1/2;
        margin: 0;
        height: 100%;
    }
    .section-pages .boxes:nth-child(3) {
        grid-row: 2/3;
        grid-column: 1/2;
        margin: 0;
        height: 100%;

    }
    .section-pages .boxes:nth-child(4) {
        grid-row: 2/3;
        grid-column: 1/2;
        margin: 0;
        z-index: 1000;
        margin:462px 0px 0px 0px;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .section-pages .boxes:nth-child(5) {
        grid-row: 3/4;
        grid-column: 1/2;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .section-pages .boxes:nth-child(6) {
        grid-row: 4/5;
        grid-column: 1/2;
        margin: 0;
        width: 100%;
        height: 100%;

    }
    .section-pages .boxes:nth-child(7) {
        grid-row: 5/6;
        grid-column: 1/2;
        margin: 0;
        width: 100%;
        height: 100%;


    }
    .section-pages .boxes:nth-child(8) {
        grid-row: 6/7;
        grid-column: 1/2;
        margin: 0;
        width: 100%;
        height: 100%;

    }
    .section-pages .boxes:nth-child(9) {
        grid-row: 7/8;
        grid-column: 1/2;
        margin: 0;
        width: 100%;
        height: 20vh;
        margin: 530px 0px 0px 0px;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-pages .boxes:nth-child(10) {
        grid-row: 7/8;
        grid-column: 1/2;
        margin: 0px 0px 20px 0px;
        width: 100%;
        height: 100%;
        
    }
}